<header class="header">
  <div class="logo-and-nav">
    <a (click)="scrollToTop()">
      <img src="assets/images/logo.png" alt="BSK Interior & Design logó" class="logo" />
    </a>

    <button class="hamburger" (click)="toggleMenu()" aria-label="Menü megnyitása">
      &#9776;
    </button>

    <nav class="nav" [ngClass]="{ 'open': menuOpen }">
      <ul>
        <li><a routerLink="/" (click)="scrollToTop()" [class.active]="isHomeActive && !isAboutActive"
        >Home</a></li>
        <li><a routerLink="/" (click)="onAboutClick()" [class.active]="isAboutActive"
        >Rólam</a></li>
        <li><a routerLink="/gallery" routerLinkActive="active"
        >Galéria</a></li>
        <li><a routerLink="/prices" routerLinkActive="active"
        >Árak</a></li>
        <li><a routerLink="/contact" routerLinkActive="active"
        >Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
